<!DOCTYPE html>
<html>
<head>
	<title>Pusher Python Realtime Dashboard</title>
</head>
<body>
	
	<!-- Add to record -->
	<form method="post" action="/record">
		<h3>Add new record</h3>
		<input type="text" name="stock_name" placeholder="stock_name here"><br>
		<input type="text" name="buy_sell" placeholder="buy/sell here"><br>
		<input type="text" name="price" placeholder="price here"><br>
		<input type="number" name="amount" placeholder="amount here"><br>
		<input type="text" name="cost_reward" placeholder="cost/reward here"><br>
		<input type="submit" name="Submit">
	</form>
</body>
</html>